body {
  background-color: #f4f4f4;
  color: #555;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: coral;
  color: #fff;
}

#navbar {
  background-color: #333;
  color: white;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding-right: 15px;
}

#showcase {
  background-image: url('https://img.freepik.com/premium-photo/abstract-illustration-white-light-coral-colors_665346-22042.jpg?w=900');
  background-position: center right;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  padding: 0 30px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width:600px) {
  #main {
    width: 100%;
    padding: 10px;
    float: none;
  }

  #sidebar {
    width: 100%;
    padding: 10px;
    float: none;
  }
}